{% extends 'CoreWebBundle::introlayout.html.twig' %}
{% block intro_title %}Install the CORE Recommender{% endblock %}

{% block intro_content %}
    <div class="cms">		
        {% include 'CoreWebBundle:Recommenders:Instructions/RecFullwebInstructions.html.twig' %}
    </div>
{% endblock %}