<!DOCTYPE HTML>
<html lang="en">   
    <head>
        <title> THE CORE RECCOMENDER TEST PAGE</title>
        <meta name="eprints.creators_name" content="Pontika, Nancy">
        <meta name="eprints.creators_name" content="Knoth, Petr">
        <meta name="eprints.creators_name" content="Cancellieri, Matteo">
        <meta name="eprints.creators_name" content="Pearce, Samuel">
        <meta name="eprints.creators_id" content="ap24386">
        <meta name="eprints.creators_id" content="pk3295">
        <meta name="eprints.creators_id" content="mc26486">
        <meta name="eprints.creators_id" content="scp334">
        <meta name="eprints.type" content="article">
        <meta name="eprints.datestamp" content="2016-04-06 12:07:30">
        <meta name="eprints.lastmod" content="2016-08-04 15:55:32">
        <meta name="eprints.metadata_visibility" content="show">
{#        <meta name="eprints.title" content="Developing Infrastructure to Support Closer Collaboration of Aggregators with Open Repositories">#}
        <meta name="eprints.full_text_status" content="public">
        <meta name="eprints.keywords" content="Scholarly Communication; Open Access; Repositories; Harvesting ">
{#        <meta name="eprints.abstract" content="The amount of open access content stored in repositories has increased dramatically, which has created new technical and organisational challenges for bringing this content together. The COnnecting REpositories (CORE) project has been dealing with these challenges by aggregating and enriching content from hundreds of open access repositories, increasing the discoverability and reusability of millions of open access manuscripts. As repository managers and library directors often wish to know the details of the content harvested from their repositories and keep a certain level of control over it, CORE is now facing the challenge of how to enable content providers to manage their content in the aggregation and control the harvesting process. In order to improve the quality and transparency of the aggregation process and create a two-way collaboration between the CORE project and the content providers, we propose the CORE Dashboard.">#}
        <meta name="eprints.date" content="2016-04-01">
        <meta name="eprints.publication" content="LIBER Quarterly">
        <meta name="eprints.volume" content="25">
        <meta name="eprints.number" content="4">
        <meta name="eprints.pagerange" content="172-188">
        <meta name="eprints.department" content="STEM|KMi">
        <meta name="eprints.refereed" content="TRUE">
        <meta name="eprints.issn" content="2213-056X">
        <meta name="eprints.citation" content="   Pontika, Nancy <http://oro.open.ac.uk/view/person/ap24386.html>; Knoth, Petr <http://oro.open.ac.uk/view/person/pk3295.html>; Cancellieri, Matteo <http://oro.open.ac.uk/view/person/mc26486.html> and Pearce, Samuel <http://oro.open.ac.uk/view/person/scp334.html> (2016).  Developing Infrastructure to Support Closer Collaboration of Aggregators with Open Repositories.  LIBER Quarterly, 25(4) pp. 172–188.      ">
        <meta name="eprints.document_url" content="http://oro.open.ac.uk/45935/1/10138-21767-1-PB.pdf">
        <link rel="schema.DC" href="http://purl.org/DC/elements/1.0/">
{#        <meta name="DC.title" content="Developing Infrastructure to Support Closer Collaboration of Aggregators with Open Repositories">#}
        <meta name="DC.creator" content="Pontika, Nancy">
        <meta name="DC.creator" content="Knoth, Petr">
        <meta name="DC.creator" content="Cancellieri, Matteo">
        <meta name="DC.creator" content="Pearce, Samuel">
{#        <meta name="DC.description" content="The amount of open access content stored in repositories has increased dramatically, which has created new technical and organisational challenges for bringing this content together. The COnnecting REpositories (CORE) project has been dealing with these challenges by aggregating and enriching content from hundreds of open access repositories, increasing the discoverability and reusability of millions of open access manuscripts. As repository managers and library directors often wish to know the details of the content harvested from their repositories and keep a certain level of control over it, CORE is now facing the challenge of how to enable content providers to manage their content in the aggregation and control the harvesting process. In order to improve the quality and transparency of the aggregation process and create a two-way collaboration between the CORE project and the content providers, we propose the CORE Dashboard.">#}
        <meta name="DC.date" content="2016-04-01">
        <meta name="DC.type" content="Journal Article">
        <meta name="DC.type" content="Public">
        <meta name="DC.type" content="PeerReviewed">
        <meta name="DC.format" content="application/pdf">
        <meta name="DC.identifier" content="http://oro.open.ac.uk/45935/1/10138-21767-1-PB.pdf">
        <meta name="DC.relation" content="http://dx.doi.org/10.18352/lq.10138">
        <meta name="DC.identifier" content="   Pontika, Nancy <http://oro.open.ac.uk/view/person/ap24386.html>; Knoth, Petr <http://oro.open.ac.uk/view/person/pk3295.html>; Cancellieri, Matteo <http://oro.open.ac.uk/view/person/mc26486.html> and Pearce, Samuel <http://oro.open.ac.uk/view/person/scp334.html> (2016).  Developing Infrastructure to Support Closer Collaboration of Aggregators with Open Repositories.  LIBER Quarterly, 25(4) pp. 172–188.      ">
        <meta name="DC.relation" content="http://oro.open.ac.uk/45935/">
        <meta name="eprints.eprintid" content="45935">
    </head>

    <body>
        <h3>THE CORE RECOMMENDER TEST PAGE - META-TAGS + JS Obj</h3>
        Your browser language: {{ app.request.locale }}
        <script>
            var inputObj = {
                documentTitle: "Developing Infrastructure to Support Closer Collaboration of Aggregators with Open Repositories",
                documentAbstract: "The amount of open access content stored in repositories has increased dramatically, which has created new technical and organisational challenges for bringing this content together. The COnnecting REpositories (CORE) project has been dealing with these challenges by aggregating and enriching content from hundreds of open access repositories, increasing the discoverability and reusability of millions of open access manuscripts. As repository managers and library directors often wish to know the details of the content harvested from their repositories and keep a certain level of control over it, CORE is now facing the challenge of how to enable content providers to manage their content in the aggregation and control the harvesting process. In order to improve the quality and transparency of the aggregation process and create a two-way collaboration between the CORE project and the content providers, we propose the CORE Dashboard."
            };
        </script>
        <script>(function (d, s, idScript, idRec, userInput) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(idScript))
                    return;
                js = d.createElement(s);
                js.id = idScript;
                js.src = 'embed.js';
                fjs.parentNode.insertBefore(js, fjs);

                localStorage.setItem('idRecommender', idRec);
                localStorage.setItem('userInput', JSON.stringify(userInput));
                
                // language MUST be provided as an ISO 639-1 language code
                localStorage.setItem('translation_lang', "en");
                // Country MUST be provided as an ISO 3166-1 alpha-2, UPPERCASE country code
                localStorage.setItem('translation_country', "GB");
                localStorage.setItem('translation_suggested_articles', "Suggested articles");
                localStorage.setItem('translation_suggested_articles_in', "Suggested articles in {repository-name}");
                localStorage.setItem('translation_provided_by', "Provided by");
                localStorage.setItem('translation_publisher', "Publisher");
                localStorage.setItem('translation_year', "Year");
                localStorage.setItem('translation_by', "By");

                var link = d.createElement('link');
                link.setAttribute('rel', 'stylesheet');
                link.setAttribute('type', 'text/css');
                link.setAttribute('href', 'embed-default-style.css');
                d.getElementsByTagName('head')[0].appendChild(link);
            }(document, 'script', 'recommender-embed', '8b88f5', 
                inputObj // for input tags only from meta-tags please rewrite to empty obj params '{}'
                        ));
        </script>

        <div id="coreRecommenderOutput">
        </div>
</body>
</html>