/*
core.ac.uk
License - change in nbproject/licenseheader.txt

*/
/* 
    Created on : 13-Sep-2016, 17:18:32
    Author     : vb4826
*/

#coreRecommenderOutput{
    width: 500px;
    background : #fff;
    font-family: $regular-font;
    font-weight: 400px;
    line-height: normal; 
    font-size:10px;
} 

#coreRecommenderOutput ul{
    list-style-type: none;
    padding: 0px;
}

.ep_summary_box_body{
    background-color: #fff;
    border: none;
}

.ep_summary_box_title{
    display: none;
}

.coreRecommender .documentTpl .thumb{
    margin-right: 4px;
    float: left;
    height:75px;
    width: 60px;
    overflow:hidden;
    padding:1px;
}

.coreRecommender .documentTpl .thumb img{
    max-height:75px;
    max-width: 60px;
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;

}

.coreRecommender .documentTpl{
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 5px;
    overflow: hidden;
}

.coreRecommender .title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.coreRecommender #authors{
    padding-right: 20px;
    display: inline;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.coreRecommender .label{
    padding: 0px;
    overflow: hidden;
    display: inline;
}

.coreRecommender .addinfo{
    float: left;
    display: none;
    text-align: justify;
    margin-top: 5px;
}


.coreRecommender .detail-info{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.coreRecommender .information{
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}

.coreRecommender .information>div{
    margin-bottom: 10px;
}

.coreRecommender {
    //border-bottom:1px solid #dddddd;
}

.coreRecommender li{
    border-right: 3px solid white;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    border-bottom: 1px solid #dddddd;
}

.coreRecommender li:hover{
    background-color:#eee;
    padding-right: 0px;
    cursor: pointer;
}

.coreRecommender a{
    text-decoration: none;
}

.coreRecommender .remove-article{
    margin-bottom: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 11px;
    max-width: 11px;
    float: right;
}

.coreRecommender .dropdown {
    right: 3px;
    bottom: 0;
    position: absolute;
    display: inline-block;
}

.coreRecommender .dropdown-content {
    display: none;
    position: relative;
    margin-right: 20px;
    background-color: white;
    min-width: 160px;
    border: 1px solid #dddddd;
}

.coreRecommender .dropdown-content a {
    font-weight: inherit;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.coreRecommender .dropdown-content a:hover {
    background-color: #eee
}

.coreRecommender .dropdown:hover .dropdown-content {
    display: block;
}

.coreRecommender .dropdown:hover .dropbtn {
    background-color: #eee;
}

#coreRecommenderOutput .error, #coreRecommenderOutput .loading{
    text-align: center;
    vertical-align: center;
    padding: 15px;
    color: #999999;
    border-bottom: 1px solid #dddddd;
}

#coreRecommenderOutput .error-image, #coreRecommenderOutput .loading-gif{
    margin-top: 5px;
}

.coreRecommender .footer img {
    height: 24px;
    display: block;
    float: right;
    padding-left: 4px;
    border: 0;
}

.coreRecommender .footer a {
    margin-top: 5px;
    float: right;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
    color: #808080;
    line-height: 30px;
}